EXECUTION_NODE=http://1.2.3.4:8545
CONSENSUS_NODE=http://1.2.3.4:5051
CONTRACT_ADDRESS=0x596BBA96Fa92e0A3EAf2ca0B157b06193858ba5E
OPERATOR_ID=123
MESSAGES_LOCATION=messages

BLOCKS_PRELOAD=7200 # 1 day of blocks
BLOCKS_LOOP=32 # 1 epoch
JOB_INTERVAL=384000 # 1 epoch

HTTP_PORT=8989
RUN_METRICS=true
RUN_HEALTH_CHECK=true

LOGGER_LEVEL=info
LOGGER_FORMAT=json
LOGGER_SECRETS=["http://1.2.3.4:8545","http://1.2.3.4:5051"]

DRY_RUN=true