EXECUTION_NODE=http://1.2.3.4:8545
CONSENSUS_NODE=http://1.2.3.4:5051
LOCATOR_ADDRESS=0x12cd349E19Ab2ADBE478Fc538A66C059Cf40CFeC
STAKING_MODULE_ID=123
OPERATOR_ID=123

MESSAGES_LOCATION=messages
MESSAGES_LOCATIONS=[]
MESSAGES_PASSWORD=pass

VALIDATOR_EXIT_WEBHOOK=

ORACLE_ADDRESSES_ALLOWLIST=["0xF6d4bA61810778fF95BeA0B7DB2F103Dc042C5f7"]

BLOCKS_PRELOAD=50000 # 7 days of blocks
BLOCKS_LOOP=64 # 2 epochs
JOB_INTERVAL=384000 # 1 epoch

HTTP_PORT=8989
RUN_METRICS=true
RUN_HEALTH_CHECK=true

LOGGER_LEVEL=info
LOGGER_FORMAT=json
LOGGER_SECRETS=["http://1.2.3.4:8545","http://1.2.3.4:5051", "pass"]
LOGGER_HIDDEN_ENV=["MESSAGES_PASSWORD"]

DRY_RUN=true
